<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <base href="<%=basePath%>">
    <meta charset="UTF-8">
    <title>消息详情</title>
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="header">
    <nav class="navbar navbar-default navbar-static-top"> <img
            th:src="@{/picture/logo.png}" >
        <ul>
            <li><a th:href="@{/messagecontroller/judge}">返回列表</a></li>
        </ul>
    </nav>
</div>
<div class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <input type="hidden" id="messageid" />
                <lable>消息标题：</lable>
                <input type="text" id="messagetitle"/> <br> <br> <br>
                <lable>消息日期：</lable>
                <input type="datetime-local" id="date"/> <br>
                <br> <br>
                <lable style="vertical-align: top">消息正文：</lable>
                <textarea cols="100" rows="10" id="messagedetail" ></textarea>
            </form>
            <div class="btndiv">
                <button id="save" class="btn btn-success btn-sm">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $(function() {
        $("#save").click(function() {
            var date = $("#date").val();
            var messagetitle = $("#messagetitle").val();
            var messagedetail = $("#messagedetail").val();
            var url='/messagecontroller/addMessage';
            $.ajax({
                url : url,
                type : 'get',
                dataType : "json",
                data : {
                    "date" : date,
                    "messagetitle" : messagetitle,
                    "messagedetail" : messagedetail,
                },
                success : function(data){
                    if(data===0){
                        console.log(data)
                        location.href="/messagecontroller/judge"
                    }
                }
            })
        })
    })
</script>
</html>